<html>
<head></head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>

    <div class="btnBox">
      
      <button
        onclick="location.href = '/main'"
        class="w-50 mb-5 mt-2 btn btn-success">
        게시판
      </button>

      <button
      onclick="location.href = '/logout'"
      class="w-50 mb-5 mt-2 btn btn-success">
      로그아웃
    </button>


      
    </div>


    <%
    var username = username; 
    if(username != null) { 
          %>
          
          <h1><%=username%>님 안녕하세요!</h1>  
       <%
    }
    %>


    <table class="table TableBox">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">아이디</th>
          <!-- <th scope="col">수정/삭제</th> -->
        </tr>
      </thead>
      <tbody>
        <% 
        data.forEach((el,index) => {%>
        <tr>
          <th scope="row"><%= index + 1%></th>
          <td><a href="/user/<%= el.idx %>"><%= el.username %></a></a></td>
          
          
          <!-- <td>
            <button class="btn btn-warning" onclick="location.href ='/main/modify/<%= el.bbsNo %>'">수정</button>
          </td>
          <td>
            <button class="btn btn-warning" onclick="delBtn('<%= el.bbsNo %>')">삭제</button>
          </td> -->

        </tr>
        <% }) %>
      </tbody>
     
    </table>

    <% 
    var totalPage= Math.ceil(totalCnt/pageSize); 
    %>



    <a href="/main?page=1&pageSize=<%=pageSize%>"><</a>

    <%
    for(var i = 0; i < totalPage; i++){
    %>
      <a href="/main?page=<%= i + 1 %>&pageSize=<%=pageSize%>"><%= i + 1 %></a>
     <%
      }
      %>

      <a href="/main?page=<%=totalPage%>&pageSize=<%=pageSize%>">></a>

  </body>


  <script type="text/javascript"></script>
</html>